@page "/Error/{Error}"
@model ErrorModel
@{
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="display-3 text-danger">Error</h1>
            <p class="lead pb-4">@ViewData["Error"]</p>   
            <a href="/" class="btn btn-dark">Atrás</a>
        </div>
    </div>
    </div>
</div>
