@page "/Mensaje/{Mensaje}"
@model MensajeModel
@{
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="display-3">@ViewData["MensajePrincipal"]</h1>
            <p class="lead pb-4">@ViewData["MensajeSecundario"]</p>   
            <a href="/" class="btn btn-dark">Salir</a>
        </div>
    </div>
    </div>
</div>
