@page
@model OperacionesModel
@{
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-12">
            <a href="/Balance" class="btn btn-primary">Balance</a>
            <a href="/Retiro" class="btn btn-primary">Retiro</a>
            <a href="/CambiarPIN" class="btn btn-primary">Cambiar PIN</a>
            <a href="/" class="btn btn-dark">Salir</a>
        </div>
    </div>
    </div>
</div>
